<div style="height: 400px;">
    <ngx-slider [init]="slider"></ngx-slider>
</div>
<div class="col-xs-12 col-sm-12 marginTop40 prodOf">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span>
        <span class="pull-right">Total Sold - &nbsp;</span>
        MLA 1
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-12">
      <div class="selectSize">Select Your Size Here :</div>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">S</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">M</button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-default">L</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">XL</button>
              </div>
              <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default">XXL</button>
                </div>
        </div>
    </div>

<div class="text-center col-xs-12 col-sm-12 productDesc paddingBottom40 marginTop20 paddinLeftRight5">
  <div class="panel panel-success">
    <div class="panel-heading">Product Description</div>
    <div class="panel-body noPaddingAll" >
        <ul class="list-group" style="margin-bottom:0px;">
                <li class="list-group-item text-left">
                        <span class="width20">Name : </span>
                        <span class="">Red T-Shirt</span>
                      </li>
                      <li class="list-group-item text-left">
                            <span class="width20">Discount : </span>
                            <span class="">10%</span>
                          </li>
              <li class="list-group-item text-left">
                  Material : Cotton
              </li>
              <li class="list-group-item text-left">
                  Color : Black
              </li>
              <li class="list-group-item text-left">
                  Design : Front
              </li>
              <li class="list-group-item text-left">
                  Sleeve : Full
              </li>
              <li class="list-group-item text-left">
                  Rating : 4
              </li>
              <li class="list-group-item text-left">
                  Description : This Product is Available through out India. Please feel free to contact in case of any doubt.
              </li>
          </ul>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 prodButton padding15 text-center marginTop10" [routerLink] = "['/home/buy-product']">
  Buy Now - &#8377; 299
</div>
