<div class="login-form">
      <form>
        <div class="form-group">
          <input type="text" class="form-control input-lg" name="email" placeholder="City">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-lg" name="email" placeholder="Locality , Area">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-lg" name="email" placeholder="Buliding Name , Flat Number">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-lg" name="email" placeholder="Pincode">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-lg" name="email" placeholder="State">
        </div>
        <div class="form-group">
           <input type="text" class="form-control input-lg" name="email" placeholder="Nearby Landmark">
        </div>
        <div class="form-group">
           <input type="text" class="form-control input-lg" name="email" placeholder="Contact Number">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="email" placeholder="Alternate Contact Number">
        </div>

     <div class="divider-20"></div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block login-btn" [routerLink] = "['/home/buy-product']">Add Address</button>
          </div>
      </form>
  </div>